<html
  layout:decorate="~{layout/layout}"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <div layout:fragment="content">
	<th:block th:replace="fragments/community_banner :: communityFragment"></th:block>
    <div id="notice-create" class="container pt-5 pb-2">
      <h1 class="mt-5 pt-3 mb-3 text-center">공지사항</h1>
      <form class="row g-3 p-5" method="post" th:object="${noticeForm}">
        <input type="hidden" th:field="*{id}" />
        <input type="hidden" th:field="*{admin.loginId}" />
        <div class="col-12">
          <div class="input-group">
            <div class="input-group-text">
              <i class="bi bi-chat-right-dots-fill text-secondary"></i>
            </div>
            <input
              type="text"
              class="form-control"
              placeholder="제목"
              th:field="*{subject}"
            />
          </div>
        </div>
        <div class="col-12">
          <textarea
            class="form-control"
            placeholder="내용을 입력해 주세요."
            rows="15"
            th:field="*{content}"
          ></textarea>
        </div>
        <!--목록, 글쓰기 버튼-->
        <div class="d-flex justify-content-center my-5 pb-5">
          <a
            th:href="|@{/community/board/board_list}|"
            role="button"
            class="btn btn-secondary px-4 mx-2"
            >취소
          </a>
          <button type="submit" class="btn btn-dark px-4">작성완료</button>
        </div>
      </form>
    </div>
  </div>
</html>
