<html layout:decorate="~{layout/layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <div layout:fragment="content">

    <th:block th:replace="fragments/community_banner :: communityFragment"></th:block>
      <!--이벤트 영역 시작-->
      <div id="eventpage">
        <div class="bg-secondary-subtle py-5 my-5">
          <div class="container">
            <h2 class="fs-2 fw-bold">추천이벤트</h2>
            <div class="post-slider">
              <i class="bi bi-arrow-left-circle prev"></i>
              <i class="bi bi-arrow-right-circle next"></i>
              <div class="post-wrapper">
                <div class="post">
                  <a href="#">
                    <div class="card bg-secondary-subtle border-0">
                      <div class="card-body">
                        <img
                          src="../../images/event_img1.jpg"
                          class="card-img-top mb-3 shadow bg-body-tertiary rounded"
                          alt="추천이벤트샘플1"
                        />
                        <div class="d-lg-flex">
                          <h5 class="card-title">매일 쓰는 패드, 배변용품 기획전</h5>
                          <p class="card-text text-muted ms-auto">
                            <small>2024.05.01~2024.05.31</small>
                          </p>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="post">
                  <a href="#">
                    <div class="card bg-secondary-subtle border-0">
                      <div class="card-body">
                        <img
                          src="../../images/event_img2.jpg"
                          class="card-img-top mb-3 shadow bg-body-tertiary rounded"
                          alt="추천이벤트샘플2"
                        />
                        <div class="d-lg-flex">
                          <h5 class="card-title">씹을수록 즐거운, 오래먹는 간식</h5>
                          <p class="card-text text-muted ms-auto">
                            <small>2024.05.01~2024.05.31</small>
                          </p>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="post">
                  <a href="#">
                    <div class="card bg-secondary-subtle border-0">
                      <div class="card-body">
                        <img
                          src="../../images/event_img3.jpg"
                          class="card-img-top mb-3 shadow bg-body-tertiary rounded"
                          alt="추천이벤트샘플3"
                        />
                        <div class="d-lg-flex">
                          <h5 class="card-title">"댕스팟" 추천하고 선물받자</h5>
                          <p class="card-text text-muted ms-auto">
                            <small>2024.05.01~2024.05.31</small>
                          </p>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="post">
                  <a href="#">
                    <div class="card bg-secondary-subtle border-0">
                      <div class="card-body">
                        <img
                          src="../../images/event_img4.jpg"
                          class="card-img-top mb-3 shadow bg-body-tertiary rounded"
                          alt="추천이벤트샘플4"
                        />
                        <div class="d-lg-flex">
                          <h5 class="card-title">울집 강아지 'B급 사진' 대방출!!</h5>
                          <p class="card-text text-muted ms-auto">
                            <small>2024.05.01~2024.05.31</small>
                          </p>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="post">
                  <a href="#">
                    <div class="card bg-secondary-subtle border-0">
                      <div class="card-body">
                        <img
                          src="../../images/event_img5.jpg"
                          class="card-img-top mb-3 shadow bg-body-tertiary rounded"
                          alt="추천이벤트샘플5"
                        />
                        <div class="d-lg-flex">
                          <h5 class="card-title">5월'가족의 달' 5손도손 말해보개!!</h5>
                          <p class="card-text text-muted ms-auto">
                            <small>2024.05.01~2024.05.31</small>
                          </p>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container my-5 py-5">
          <div class="row row-cols-1 row-cols-md-2 g-4 mb-4 mx-md-5">
            <div class="col">
              <div class="card">
                <img
                  src="../../images/event_img1.jpg"
                  class="card-img-top"
                  alt="이벤트이미지1"
                />
                <div class="card-body">
                  <h5 class="card-title">매일 쓰는 패드, 배변용품 기획전</h5>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img
                  src="../../images/event_img2.jpg"
                  class="card-img-top"
                  alt="이벤트이미지2"
                />
                <div class="card-body">
                  <h5 class="card-title">씹을수록 즐거운, 오래먹는 간식</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="row row-cols-1 row-cols-md-2 g-4 mb-2 mx-md-5">
            <div class="col">
              <div class="card">
                <img
                  src="../../images/event_img3.jpg"
                  class="card-img-top"
                  alt="이벤트이미지3"
                />
                <div class="card-body">
                  <h5 class="card-title">"댕스팟" 추천하고 선물받자</h5>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img
                  src="../../images/event_img4.jpg"
                  class="card-img-top"
                  alt="이벤트이미지4"
                />
                <div class="card-body">
                  <h5 class="card-title">울집 강아지 'B급 사진' 대방출!!</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--이벤트 영역 끝-->
  </div>
</html>
